<p id="notice"><%= notice %></p>

<h1>Sshkeys</h1>

<table>
  <thead>
    <tr>
      <th>User id</th>
      <th>Key</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sshkeys.each do |sshkey| %>
      <tr>
        <td><%= sshkey.user_id %></td>
        <td><%= sshkey.key %></td>
        <td><%= link_to 'Show', sshkey %></td>
        <td><%= link_to 'Edit', edit_sshkey_path(sshkey) %></td>
        <td><%= link_to 'Destroy', sshkey, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sshkey', new_sshkey_path %>
