<p id="notice"><%= notice %></p>

<h1>SSH keys</h1>

<table>
  <thead>
    <tr>
      <th>User id</th>
      <th>Key</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @keys.each do |key| %>
      <tr>
        <td><%= key.user_id %></td>
        <td><%= key.key %></td>
        <td><%= link_to 'Show', key_path(key) %></td>
        <td><%= link_to 'Edit', edit_key_path(key) %></td>
        <td><%= link_to 'Destroy', key_path(key), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sshkey', new_key_path %>
